In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import pickle
import numpy as np
import os

In [0]:
!pip install python-docx

Collecting python-docx
  Downloading https://files.pythonhosted.org/packages/e4/83/c66a1934ed5ed8ab1dbb9931f1779079f8bca0f6bbc5793c06c4b5e7d671/python-docx-0.8.10.tar.gz (5.5MB)
     |████████████████████████████████| 5.5MB 2.7MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from python-docx) (4.2.6)
Building wheels for collected packages: python-docx
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.10-cp36-none-any.whl size=184491 sha256=016fd5daf90117eac081f05b4f137b8d300b30a7c173a2c30b07f63e0c7cc765
  Stored in directory: /root/.cache/pip/wheels/18/0b/a0/1dd62ff812c857c9e487f27d80d53d2b40531bec1acecfa47b
Successfully built python-docx
Installing collected packages: python-docx
Successfully installed python-docx-0.8.10

In [0]:
import docx

In [0]:
def getText(filename):
    doc = docx.Document(filename)
    fullText = []
    for para in doc.paragraphs:
        fullText.append(para.text)
    return '\n'.join(fullText)

In [0]:
files = os.listdir('/data')

In [0]:
texts = []
for f in files:
  if '.pkl' not in f and '.json' not in f:
    texts.append(getText(f))

In [0]:
questions = []
equations = []
for text in texts:
  for line in text.split('\n')[1:]:
    if 'Question :' in line:
      q = line[len('Question : \"'):-1]
      questions.append(q)
    if 'Equation :' in line:
      e = line[len('Equation : \" '):-1]
      equations.append(e)

In [0]:
len(questions), len(equations)

(36000, 36000)

In [0]:
np.random.choice(questions, 10)

array(['Thomas wants to share some lychee among 8 friends.If each friend get 38 lychee, then how many lychee john would have?',
       'Bobby has 140 Marbles. Steve gave him 188 more. How many Marbles does Bobby have to sum?',
       'Mary had 5 seashells. Ronald presented him some more. Now Mary has 158 seashells. How many did Ronald present him?',
       'Anthony has 105 Marbles. Arthur gave him 112 more. How many Marbles does Anthony have total?',
       'Philip had 298 blackcurrant. Jason grasped some blackcurrant. Now Philip has 5  blackcurrant. How many did Jason graspeds?',
       'Patricia had 110 kiwi. Edith took 57 from him. Now How many kiwi Patricia have minus?',
       'Anthony had 23 avocado . He divide each avocado into 13 slices . How many avocado slices did Anthony make?',
       'Edgar had 48 Doll . He hash each Doll into 19 slices . How many Doll slices did Edgar make?',
       'Barbara had 28 Chocolate . He mince each Chocolate into 17 slices . How many Chocolate slices did Barbara make?',
       'William had 27 coconut. Dale gifted him some more. Now William has 113 coconut. How many did Dale gift him?'],
      dtype='<U168')

In [0]:
np.random.choice(equations, 10)

array(['X = 50 - 2', 'X = 129 - 16', 'X = 271 / 17', 'X = 136 / 17',
       'X = 148 - 85', 'X = 116 + 109', 'X = 332 / 23', 'X = 121 - 65',
       'X = 29 - 9', 'X = 104 / 30'], dtype='<U13')

In [0]:
data = pd.DataFrame({'Question':questions, 'Equation':equations})

In [0]:
data

                                                Question       Equation
0      Eric had 165 Pen. Nancy took 140 from him. Now...  X = 165 - 140
1      Susie had 155 Watch. Richard took 51 from him....   X = 155 - 51
2      Walter had 141 apple. Marilyn took 118 from hi...  X = 141 - 118
3      Marsha had 177 apricot. Thanh took 113 from hi...  X = 177 - 113
4      Harland had 147 papaya. Dale took 112 from him...  X = 147 - 112
...                                                  ...            ...
35995  Anita had some Book. William gave him 5 more. ...     X = 28 - 5
35996  James had some orange. Rene gave him 9 more. N...     X = 35 - 9
35997  Cindy had some apricot. Johnny gave him 1 more...     X = 18 - 1
35998  Dennis had some papaya. Raymond gave him 2 mor...     X = 32 - 2
35999  Roberto had some peach. Travis gave him 2 more...     X = 23 - 2

[36000 rows x 2 columns]

## Add json dataset

In [0]:
data_json = pd.read_json('/data/OneVariableSingleEQ.json')

In [0]:
data_2 = pd.DataFrame({'Question':list(data_json['sQuestion'].values), 'Equation':list(data_json['lEquations'].apply(lambda x: x[0]).values)})

In [0]:
data_final = data.append(data_2)

In [0]:
data_final = data_final.sample(frac=1)

In [0]:
with open('data_final.pkl','wb') as f:
  pickle.dump(data_final, f)

Sources:
1. https://github.com/RahulSharmaNITT/MathWordProblem
2. https://github.com/sroy9/mawps